# build / dist
dist/
build/

# env / editor
.env
.vscode/
.DS_Store

# node deps (frontend)
node_modules/

# ignore backend node_modules and lockfile
snapcap-backend/node_modules
snapcap-backend/package-lock.json

# generated assets
public/cesium/